<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">Have a look at our content, it's free and always will be.</p>
  <hr class="my-4">
  <p>Want to contribute, please follow the link and join us.</p>
  <%= link_to 'Learn more', subjects_path, class: "btn btn-primary btn-lg" %>
</div>
