<h2><%= "#{@subject.name}" %></h2>
<br />
<% if @subject.pages.published.present? %>
  <div class="row">
    <div class="col-lg-4">
      <%= render(partial: "pages_list") %>
    </div>
  </div>
<% else %>
  <p class="alert alert-warning">No content available.</p>
<% end %>
