<h2><%= "#{@subject.name}" %></h2>
<span class="text-muted">Last updated <%= time_ago_in_words(@subject.updated_at) %> ago</span>
<br />
<br />
<% if @subject.pages.published.present? %>
  <div class="row">
    <div class="col-lg-4">
      <%= render(partial: "pages_list") %>
    </div>
  </div>
<% else %>
  <p class="alert alert-warning">No content available.</p>
<% end %>
