<h2><%= "Subject: #{@subject.name}" %></h2>
<br />
<div class="row">
  <div class="col-lg-4">
    <%= render(partial: "pages_list") %>
  </div>
  <div class="col-lg-8">
    <% if @page.sections.published.present? %>
      <% @page.sections.published.each do |section| %>
        <h5><%= section.name %></h5>
        <p><%= section.content %></p>
      <% end %>
    <% else %>
      <p class="alert alert-warning">No content available.</p>
    <% end %>
  </div>
</div>
